<%- include(pathviews + '/partials/header');%>
    <div class="container">
      <div class="text-center">
        <h1>Authentication with Ethereum Account!</h1>
      </div>
    </div>
<%- include(pathviews + '/partials/footer');%>