<%- include(pathviews + '/partials/header');%>

    <div class="container">
      <div class="text-center">
        <h1>User Profile</h1>
        <br />
        <h4>Your Ethereum account is: <%= user %></h4>
        <br />
        <h5>You have logged in for <%= loginCount %> times.</h5>
      </div>
    </div>

<%- include(pathviews + '/partials/footer');%>
